.title {
  font-size: larger;
  color: brown;
}

.desc {
  flex: 50%;
  display: flex;
  align-items: left;
}

.amtdonated {
  flex: 50%;
  border: black;
  align-items: right;

  padding-right: 20px;
  background-color: cadetblue;
}

.donatebox {
}
