.title {
  font-size: larger;
  color: brown;
}

.desc {
  flex: 50%;
  display: flex;
  align-items: left;
  width: 1200px;
}

.amtdonated {
  flex: 50%;
  border: 0.2rem solid;
  align-items: right;
  width: 400px;
  font-weight: bold;
}

.tyimage {
  margin-top: 50px;
  width: 800px;
  height: 300px;
}
