.name {
  margin-top: 50px;
}

.btnstory {
  color: aquamarine;
}

.Fname {
  color: blue;
}

.stext {
  margin-top: 20px;
  width: 40rem;
  height: 10rem;
}

.diStory {
  border: 0.2rem solid rgb(162, 211, 140);
}
